<div class="background">
  <div class="sign-in" align="center">
    <div *ngIf="!signed_in">
        <h4>Please let us know who you are</h4>
        <h4>Use your Google password to identify yourself</h4>
        <a mat-button (click)="loginGoogle()">
          <img mat-button src="../../assets/google_signin.png" style='width:100%;' border="0" alt="Null">
        </a>
        <br><br>
    </div>
    <div *ngIf="signed_in">
        <h4>Welcome</h4>
        <h4>{{displayName}}</h4>
    </div>
    <div *ngIf="signed_in">
      <mat-form-field>
        <input [(ngModel)]="password" matInput placeholder="Session Password" [type]="passwordHide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">Your Kripta password</mat-hint>
      </mat-form-field>
      <br><br>
      <button mat-raised-button style="color:black" (click)="revealSecrets()">Reveal My Secrets</button>
      <br><br>
    </div>
    <a mat-button align="right" (click)="learnMore()">Learn more...   </a>
    <a mat-button align="right" (click)="test()">test</a>
    <br><br>
  </div>    
</div>
