<div class="background">
  <div *ngIf="!sign_inPending" class="sign-in" align="center">
    <!-- {{sign_inPending}} -->
    <div *ngIf="!signed_in">
        <h4>Please let us know who you are</h4>
        <h4>Use your Google password to identify yourself</h4>
        <a mat-button (click)="loginGoogle()">
          <img mat-button src="../../assets/google_signin.png" style='width:100%;' border="0" alt="Null">
        </a>
        <br><br>
    </div>
    <div *ngIf="signed_in">
        <h4>Welcome</h4>
        <h4>{{displayName}}</h4>
    </div>
    <div *ngIf="signed_in">
      <div *ngIf="vaultEmpty" style="width:85%">
        <h4 class="mat-caption">It looks like you're a new Kripta user (your vault is empty). To be able to encypt/decrypt data you will be using a Kripta password.</h4>
        <h4 class="mat-caption">This password will NOT be saved anywhere, please pick a strong password you can remember well.</h4>
      </div>
      <div>
        <form (submit)="revealSecrets()">
          <mat-form-field>
            <input [(ngModel)]="password" name="password" matInput placeholder="Session Password" [type]="passwordHide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-hint align="end">Your Kripta password</mat-hint>
          </mat-form-field>
        </form>
        <br><br>
        <button mat-raised-button style="color:black" (click)="revealSecrets()" [disabled]="password == null || password == ''">{{vaultEmpty ? 'Create Some Secrets' : 'Reveal My Secrets'}}</button>
        <br><br>
      </div>
    </div>
    <a mat-button align="right" (click)="learnMore()">Learn more...   </a>
    <br><br>
  </div>
  <div *ngIf="sign_inPending" style="text-align:center; padding:30px" class="mat-typography">
      <!-- {{sign_inPending}} -->
      <h2 style="background-color:lightblue">  Waiting for authentication  </h2>
      <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</div>
