<mat-toolbar class="fixed-top-left" color="primary">
  {{title}}
  <span class="spacer"></span>
  <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="login()"> Sign-in </button>
      <button mat-menu-item (click)="logout()"> Sign-out </button>
      <button mat-menu-item (click)="secrets()"> Secrets </button>
  </mat-menu>  
  <img src="{{photoURL}}" style="border-radius: 50%; width:40px" alt="Avatar" [matMenuTriggerFor]="appMenu">
</mat-toolbar>
<div class="main-content">
    <router-outlet></router-outlet>    
</div>
