<div>
<mat-card>
  <mat-card-header>
    <mat-card-title>Title 1</mat-card-title>
    <mat-card-subtitle>Sub title 1</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>This is the content of the card 1</p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Title 2</mat-card-title>
    <mat-card-subtitle>Sub title 2</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>This is the content of the card 2</p>
  </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
      <mat-card-title>Title x</mat-card-title>
      <mat-card-subtitle>Sub title x</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This is the content of the card x</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
      <mat-card-title>Title x</mat-card-title>
      <mat-card-subtitle>Sub title x</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This is the content of the card x</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
      <mat-card-title>Title x</mat-card-title>
      <mat-card-subtitle>Sub title x</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This is the content of the card x</p>
    </mat-card-content>
</mat-card>
</div>