<div>
  <mat-form-field style="padding: 5px">
    <input [(ngModel)]="search" name="search" matInput placeholder="Search">
    <mat-icon matSuffix (click)="clearSearch()">clear</mat-icon>    
  </mat-form-field>
  <br>
</div>
<div>
  <mat-grid-list #grid cols="3" rowHeight="150px">
    <mat-grid-tile *ngFor="let secret of (secrets | filter: search); let i=index" (click)="updateSecret(i)">
      <div style="width: 85%; height: 95%; overflow:hidden; padding: 2px">
          <mat-card>
              <mat-card-header>
                <img mat-card-avatar [src]="urlImage(secret.payload.url)" onerror="if (this.src != 'favicon.ico') this.src = 'favicon.ico'" alt="" />
                <mat-card-title>{{secret.title}}</mat-card-title>
                <mat-card-subtitle>{{secret.payload.subtitle}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div style="width:90%; height:20px; word-wrap: break-word">
                    <p>{{secret.payload.url}}</p>                    
                </div>
              </mat-card-content>
          </mat-card>  
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="bottom-right">
    <button mat-fab style="background-color: #f0b371" (click)="addSecret()">Add</button>
</div>

<!-- <div *ngIf="secrets.length > 0"> -->