<div>
  <mat-form-field style="width: 100%; padding: 5px">
    <input [(ngModel)]="search" matInput placeholder="Search">
  </mat-form-field>
  <br><br>  
</div>
<div>
  <mat-card *ngFor="let secret of (secrets | filter: search); let i=index" (click)="updateSecret(i)">
    <mat-card-header>
      <mat-card-title>{{secret.title}}</mat-card-title>
      <mat-card-subtitle>{{secret.payload.subtitle}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="bottom-right">
    <button mat-fab (click)="addSecret()">Add</button>
</div>
