/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    /* background-color: rgb(240, 165, 100); */
    margin: 0px
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;    
    flex: 1 1 auto;
}

.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}

.main-content {
    /* margin-top: 55px; */
    position:absolute;
    top: 55px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;     
}
